.frend {
	max-width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	line-height: 23px;
}
.ava {
	width: 58px;
	height: 58px;
	margin-bottom: 7px;
}
.ava__img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
}
