.nav {
	grid-area: nav;
	background-color: #13ce66;
	height: 100vh;
	padding: 13px 19px 0 19px;
	position: sticky;
	top: 0;
}
.frends {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
