.nav {
	grid-area: nav;
	background-color: #13ce66;
	height: 100vh;
	padding: 13px 19px 0 19px;
	position: sticky;
	top: 0;
}
.item {
	color: #ffffff;
	font-family: Lato;
	font-size: 34px;
	line-height: 44px;
	width: 264px;
	text-align: left;
}
.item:last-child {
	display: block;
	margin-top: 50px;
}
.link {
	transition: font-weight 0.3s, color 0.3s;
}
.activeLink {
	color: black;
	font-weight: 700;
	transition: font-weight 0.3s, color 0.3s;
}
