.dialogs {
}
.dialogs__title {
	color: #47525e;
	font-family: Lato;
	font-size: 26px;
	line-height: 33px;
	font-weight: 300;
}
.dialogs__inner {
	display: flex;
}
.dialogs____names {
	max-width: 342px;
	width: 100%;
	padding: 35px 15px 35px 50px;
	border-right: 1px solid #7e55f3;
	min-height: calc(100vh - 53px - 34px);
}


.dialogs__messages {
	display: flex;
	flex-direction: column;
	padding: 35px;
	width: 100%;
}

